@import '../variables.scss';

.dashboard {
  &__main {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 76px);
    padding: 2.5rem 1.75rem;
    background-color: $ghost-white;
    gap: 2rem;

    &__recent {
      display: flex;
      flex-direction: column;
      width: 832px;
      flex-grow: 1;
      background-color: #ffffff;
      border-radius: 8px;
    }

    &__information {
      display: flex;
      flex-direction: column;
      width: 400px;
      background-color: $ghost-white;
      gap: 2rem;

      &__task {
        display: flex;
        flex-direction: column;
        height: 380px;
        background-color: #ffffff;
        border-radius: 8px;

        &__container {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          gap: 0.5rem;
          padding: 0.5rem 0;
        }
      }

      &__weather {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 0.75rem;
      }

      &__link {
        font-size: 16px;
        font-weight: bold;
        color: $camouflage-green;
        margin-top: auto;
        text-align: center;
      }
    }
  }
}
