@import '../variables.scss';

.home {
  &__main {
    display: flex;
    flex-direction: column;

    &__introduction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $chinese-white;
      padding: 3rem;
      gap: 1rem;
    }

    &__reminder {
      display: flex;
      justify-content: center;
      background-color: $chinese-white;
      padding: 5rem 0;
      gap: 7rem;

      &__image {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        border-radius: 0 0 25%;
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        gap: 1.5rem;
      }
    }

    &__identification {
      display: flex;
      justify-content: center;
      background-color: $chinese-white;
      padding: 5rem 0;
      gap: 7rem;

      &__image {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        border-radius: 0 0 25%;
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        gap: 1.5rem;
      }
    }

    &__notification {
      display: flex;
      justify-content: center;
      background-color: $chinese-white;
      padding: 5rem 0;
      gap: 7rem;

      &__image {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        border-radius: 0 0 25%;
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        gap: 1.5rem;
      }
    }

    &__doctor {
      display: flex;
      justify-content: center;
      background-color: $chinese-white;
      padding: 5rem 0;
      gap: 7rem;

      &__image {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        border-radius: 0 0 25%;
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        gap: 1.5rem;
      }
    }
  }
}
