@import '../../styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 22.5rem;
  background-color: $pomona-green;

  &__header {
    display: flex;
    width: 100%;

    &__brand {
      display: flex;
      align-items: center;
      height: 40px;
      gap: 1rem;
    }

    &__navigation {
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }

    &__contact {
      display: flex;
      flex-direction: column;
    }

    &__social {
      display: flex;
      flex-direction: column;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: bold;
      color: $camouflage-green;
    }
  }

  &__body {
    display: flex;
    height: 37px;

    &__download {
      display: flex;
      gap: 1rem;
    }

    &__brand {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}
